debug.log
debug.log
debug.log
raw_x.pt
raw_x_all.pt
variables__batch_512_11_29_17_03.p
variables_ended_11_29_14_51.p
variables_batch_512_11_29_15_57.p
variables_ended_11_29_15_19.p
train_test_split.p
train_batch_512_BN.pth
train_test.pth
variables_batch_512_11_29_15_57.p
variables__batch_512_11_29_17_03.p
variables_ended_11_29_14_51.p
train_batch_32_split.p
train_batch_16384_split.p
train_bath_8192_split.p
train_batch_256_split.p
train_batch_32_B_split.p
train_batch_512_B_split.p
train_batch_512_BNA.pth
